/* .hero {
  background-color: navy;
  background-image: url(../img/hero/poster.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
} */

table,
th,
td {
  border: 1px solid black;
}
