/* .hero {
  background-color: navy;
  background-image: url(../img/hero/poster.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
} */

table,
th,
td {
  border: 1px solid black;
}

body {
  margin: 0;
  color: #fff;
  padding: 0;
  background: linear-gradient(180deg, #1d2e8c 0%, #720d83 100%);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

/**
  |============================
  | Header
  |============================
*/

header {
  padding: 12px 120px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 2px solid black;
}

.link {
  color: #fff;
  text-decoration: none;
}

.nav-link {
  opacity: 75%;
  font-size: 24px;

  transition: color 200ms;
}

.active,
.nav-link:hover {
  opacity: 100%;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 13px 0;
  font-size: 32px;
}

.nav-list {
  display: flex;
  gap: 60px;
  align-items: center;
}

/**
  |============================
  | Hero
  |============================
*/

.hero {
  position: relative;
  width: 100vw;
  margin-bottom: 60px;
}

.sale-label {
  position: absolute;
  background-color: tomato;
  color: #fff;
  font-size: 20px;
  padding: 12px;
  bottom: 0;
  left: 300px;
}

.hero button {
  position: absolute;
  bottom: 60px;
  right: 80px;
  font-size: 20px;
  padding: 12px;
  border-radius: 260px;
  background: #e73e3e;
  color: #fff;
  border: none;
  cursor: pointer;

  transition: background-color 200ms, color 200ms, border-color 200ms;
}

.hero button:hover {
  background-color: #ff8458;
  color: #000;
  border: 1px solid black;
}

/**
  |============================
  | Recomendations
  |============================
*/

.recs {
  margin-bottom: 40px;
}

.recs > .title {
  font-size: 36px;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}

.movies-list {
  display: flex;
  gap: 100px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.movies-list .movie {
  width: 160px;
}

.movies-list .movie .link {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 4px;
  border-bottom: 2px solid;
  border-color: transparent;
  transition: border-color 200ms;
}

.movies-list .movie .link:hover {
  border-color: #fff;
}

/**
  |============================
  | Footer
  |============================
*/

.footer {
  border-top: 2px solid black;
  padding: 40px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.business-card-link {
  display: inline-block;
  background: rgb(51, 51, 51);
  padding: 10px;
  border-radius: 4px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-shadow: rgb(255, 255, 255) 0px -1px 4px, rgb(255, 255, 0) 0px -2px 10px, rgb(255, 128, 0) 0px -10px 20px,
    rgb(255, 0, 0) 0px -18px 40px;
}

.business-card-link:hover {
  border: 1px solid #fff;
}

.footer address {
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  color: #fff;
}

.address-link {
  opacity: 75%;
  color: #e4bf1a;
  text-decoration: none;
}

.address-link:hover {
  text-decoration: underline;
}

address > p:not(:last-child) {
  margin-bottom: 12px;
}

/**
  |============================
  | All movies
  |============================
*/

.all-movies {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.movies-search-form {
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
}

.movie-input {
  width: 100%;
  border-radius: 260px;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 12px 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.submit-btn {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/**
  |============================
  | Subsriptions
  |============================
*/

.subscriptions {
  padding: 40px 120px;
  margin: 0 auto;
}

.subs-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.sub-item {
  width: 280px;
  border-radius: 10px;
  background: linear-gradient(180deg, #b11c1c 0%, rgba(60, 5, 95, 0.57) 100%);
  padding-top: 16px;
}

.sub-title {
  margin-bottom: 20px;
  padding: 6px 0;

  font-size: 24px;
  text-align: center;
  color: #000;
  background-color: #bdbdbd;
}

.sub-feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  font-size: 20px;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.sub-info {
  margin: 40px 0;
  padding: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 20px;
}

.sub-info p {
  font-size: 16px;
  padding: 6px;
}

.purchase-btn {
  width: 100%;
  margin-bottom: 12px;
  border-radius: 20px;
  border: 1px solid #fff;
  background: #000;
  font-size: 20px;
  padding: 12px 16px;
  color: #fff;
  cursor: pointer;

  transition: background 200ms, color 200ms;
}

.purchase-btn:hover {
  background: #fff;
  color: #000;
}

.price-underlined {
  text-decoration: line-through;
  margin-right: 8px;
}

/**
  |============================
  | Business Card
  |============================
*/

.section {
  padding: 0 80px;
  margin-bottom: 80px;
}

.title {
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  font-size: 40px;
  text-align: center;
  margin-bottom: 28px;
  color: #d2d2d2;
}

.section-info {
  font-size: 20px;
}

#greeting {
  margin-top: 40px;
}

.link[target] {
  text-decoration: underline;
}

.link[target="_blank"]:visited {
  color: #aaa;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.service {
  width: 200px;
}

.service p {
  margin-bottom: 16px;
}

.service p ~ img {
  filter: grayscale(80%);
}

.media-features {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.conclusion::selection {
  text-shadow: #fc0 1px 0 10px;
  background: rgba(0, 0, 0, 0.5);
}

table {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 60px;
  border-collapse: collapse;
  font-size: 1.1em;
  font-family: sans-serif;
  border-radius: 10px;
  box-shadow: -9px 11px 20px -2px rgba(0, 0, 0, 0.75);
  color: #000;
}

thead tr {
  background-color: #009879;
  color: #fff;
  text-align: center;
}

th {
  padding: 12px 15px;
  font-size: 22px;
  text-transform: uppercase;
}

tr {
  background-color: #f3f3f3;
  &:not(:last-child) {
    border-bottom: 2px solid rgba(0, 43, 54, 0.2);
  }
  &:last-of-type {
    border-bottom: 5px solid #009879;
  }
}

td {
  padding: 10px 8px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table caption {
  margin-bottom: 20px;
  font-size: 20px;
}

.service-footer {
  padding: 40px;
}

.nav-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.feedback-form {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #f0f0f0;
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px 16px;
}

.feedback-form label:not(.agree-label) {
  color: #000;
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.feedback-form input:not(.agree-input),
.feedback-form select {
  display: block;
  width: 100%;
  border: 3px solid rgb(67, 63, 63);
  outline: none;
  padding: 8px 12px;
  font-size: 16px;
  background-color: rgb(208, 200, 188);
  border-radius: 4px;
}

.education-label {
  color: #000;
  font-size: 24px;
  text-align: center;
  margin-bottom: 12px;
}

.education-options {
  display: flex;
  gap: 28px;
  justify-content: center;
}

textarea {
  resize: none;
  padding: 4px;
}

.agree-label {
  display: flex;
  gap: 8px;
}

.agree-text {
  color: #000;
  font-size: 16px;
}

.submit-form-btn {
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding: 8px 16px;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  background-color: #000;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: background-color 200ms, color 200ms;
}

.submit-form-btn:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid black;
}

/**
  |============================
  | Animations
  |============================
*/

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
